/*All Styles are here */
body{
    /*Default text can be changed later */
    word-wrap:break-word;
    color: white;
}

header{
    display: block;
}
nav{
    /* Makes the navigator above everything and sticks to the top of the screen. The type of box structure is flex */
    position: fixed;
    z-index:1;
    display: flex;
    background-color: navy;
    font-size:1.3em;
    height:6vh;
    width:100%;
    margin-top:-8px;
    
}
.nav-tools{
    box-sizing: inherit;
}
.nav-tools ul{
    list-style: none;
    text-align: center;
}
.nav-tools li{
    position: relative;    
    flex:1 0 100%;
}
.menu-item{
    font-style: italic;
    text-transform: uppercase;
    float: left;
    padding-bottom: 0.788vw;
    padding-left: 1.576vw;
    padding-right: 1.576vw;
    max-height: 2.943vh;
}
.menu-item a{
    text-decoration: none;
    color: white;
}
